body {
    font-family: "Lucida Console", monospace;
}

.table1 table {
    border: 1px solid black;
}

.table1 table td {
    padding: 10px;
}

.tr navy {
    background-color: #0B173B;
    text-color: white;
}

.tr blue {
    background-color: #5858FA;
}

.tr lblue {
    background-color: #CEE3F6;
}
