.mainTitle {
    position: top;
    font: 40pt Arial, serif;
    color: #1F1F1F;
    background: url(oscilloscope.gif) 0px -60px repeat;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    cursor: move;
}

.mainTitle:hover {
    position: top;
    font: 40pt Arial, serif;
    color: red;
    background: #000000;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
}

.articleLeft {
    width: 50%;
    float: left;
    font: 14pt Arial, serif;
    color: black;
    background: #D10000;
}
.articleRight {
    width: 50%;
    float: right;
    font: 14pt Arial, serif;
    color: black;
    background: #D18800;
}

}
/* Below t1 stands for title 1 */
. t1 {
    font-size: 30pt;
    position: center;
    text-align: center
}

.linkBar {
    position: center;
    text-align: center;
    background: #1F1F1F;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
}

.linkBar a {
    text-decoration: none;
    color: red;
    background: #1F1F1F
    margin-right:20px;
    margin-left:20px;
}

.linkBar a:hover {
    text-decoration: none;
    color: red;
    background: url(horribleBackground.gif) 0px 0px repeat;
}