body {
    background: #000000;
}

.mainTitle {
    position: top;
    font: 40pt Arial, serif;
    color: #1F1F1F;
    background-color: #000000
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
}
.mainTitle:hover {
    position: top;
    font: 40pt Arial, serif;
    color: #1F1F1F;
    background: url(oscilloscope.gif) 0px -330px repeat;
    margin: 0px;
    border: 0px;
    padding: 0px;
    text-align: center;
    cursor: move;
}

.linkbar {
    width: 225px;
    position: absolute;
    left: 0px;
    background: 
}