/* Not sure how far I am going to go with this, but I am makingthe class before in effort to make multiple canvas layers. */

.canvas_class {

}

canvas {
    border: 1px solid black;
}


#red {
    background-color: red;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#indigo {
    background-color: indigo;
}
#violet {
    background-color: violet;
}
#black {
    background-color: black;
}

#pen {
		background: url(pencil.png);	
}
#rect_filled {
		background: url(rect_filled.png);
}
#rect_outline {
		background: url(outline_rect.jpg);
}
#eraser {
		background: url(eraser.png);
}
#clear {
		background: url(clear.jpg);
}

#blankslot {
	width: 32px;
	height: 32px;
	float: left;
}
.toolbar {
    float: none;
    width: 600px;
    height: 50px;
}
.color {
    width: 32px;
    height: 32px;
    float: left;
}

.tool {
		width: 32px;
		height: 32px;
		font-family: "Arial", Arial, sans-serif;
		font-size: 10px;
		float: left;
}

#paint {
    cursor: crosshair;
    float: none;
}

#paint:active {
    cursor: crosshair;
}

#paint:focus {
    cursor: crosshair;
}

.assignment {
    width: 600px;
}

.assignment p {
    text-align: justify;
}
